<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.ecf.tutorial.actionSet1"
            label="ECF Tutorial"
            visible="true">
         <action
               class="org.eclipse.ecf.tutorial.actions.StartClientAction"
               icon="icons/person.gif"
               id="org.eclipse.ecf.tutorial.action1"
               label="Connect ScribbleShare Client"
               menubarPath="tutorialMenu/tutorialSeparator"
               style="push"
               toolbarPath="tutorialMenu"
               tooltip="ECF Tutorial Example Client"/>
         <menu
               id="tutorialMenu"
               label="ECF Tutorial">
            <separator name="tutorialSeparator"/>
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.tutorial.scribbleshare.ScribbleView"
            icon="icons/person.gif"
            id="org.eclipse.ecf.tutorial.paintshare"
            name="Scribble Share"/>
   </extension>

</plugin>
