<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="ECF 3.1 SDK Target">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<repository location="http://download.eclipse.org/rt/ecf/3.1/3.5/repo"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms40m -Xmx384m</vmArgs>
</launcherArgs>
</target>
