<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ECF"
            id="org.eclipse.ecf.ui.viewcategory"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            icon="icons/person.gif"
            class="org.eclipse.ecf.ui.views.RosterView"
            category="org.eclipse.ecf.ui.viewcategory"
            name="ECF Roster"
            id="org.eclipse.ecf.ui.view.rosterview"/>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.ui.views.ChatRoomView"
            icon="icons/person.gif"
            id="org.eclipse.ecf.ui.views.ChatRoomView"
            name="Chat Room"/>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.ui.views.ChatRoomManagerView"
            icon="icons/person.gif"
            id="org.eclipse.ecf.ui.views.ChatRoomManagerView"
            name="Chat Room"/>
   </extension>
</plugin>
