<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension-point id="connectWizards" name="ECF Connect Wizard" schema="schema/connectWizards.exsd"/>
   <extension-point id="configurationWizards" name="ECF Container Configuration Wizard" schema="schema/configurationWizards.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ECF"
            id="org.eclipse.ecf.ui.viewcategory"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            icon="icons/epresence16/buddy_available.gif"
            class="org.eclipse.ecf.ui.views.RosterView"
            category="org.eclipse.ecf.ui.viewcategory"
            name="ECF Roster"
            id="org.eclipse.ecf.ui.view.rosterview"/>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.ui.views.ChatRoomView"
            icon="icons/epresence16/group.gif"
            id="org.eclipse.ecf.ui.views.ChatRoomView"
            name="Chat Room"/>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.ui.views.ChatRoomManagerView"
            icon="icons/epresence16/group.gif"
            id="org.eclipse.ecf.ui.views.ChatRoomManagerView"
            name="Chat Room"/>
   </extension>
   <extension
         point="org.eclipse.ecf.ui.configurationWizards">
      <category
            id="org.eclipse.ecf.ui.clientcategory"
            name="Clients">
      </category>
      <category
            id="org.eclipse.ecf.ui.servercategory"
            name="Servers">
      </category>
      <wizard
            category="org.eclipse.ecf.ui.clientcategory"
            class="org.eclipse.ecf.ui.wizards.EmptyConfigurationWizard"
            containerFactoryName="ecf.generic.client"
            icon="icons/epresence16/buddy_available.gif"
            id="org.eclipse.ecf.ui.wizard1"
            name="ECF Generic Client">
      </wizard>
      <wizard
            category="org.eclipse.ecf.ui.servercategory"
            class="org.eclipse.ecf.ui.wizards.EmptyConfigurationWizard"
            containerFactoryName="ecf.generic.server"
            icon="icons/epresence16/buddy_unavailable.gif"
            id="org.eclipse.ecf.ui.wizard2"
            name="ECF Generic Server">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.ecf.ui.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="ECF Wizards">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.ecf.ui.tests.actions.SampleAction"
               icon="icons/sample.gif"
               id="org.eclipse.ecf.ui.actions.SampleAction"
               label="&amp;ECF Test Wizard"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="ECF Test Wizard">
         </action>
      </actionSet>
   </extension>
</plugin>
