<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension-point id="connectWizards" name="ECF Connect Wizard" schema="schema/connectWizards.exsd"/>
   <extension-point id="configurationWizards" name="ECF Container Configuration Wizard" schema="schema/configurationWizards.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ECF"
            id="org.eclipse.ecf.ui.viewcategory"/>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.ui.views.ChatRoomView"
            icon="icons/epresence16/group.gif"
            id="org.eclipse.ecf.ui.views.ChatRoomView"
            name="Chat Room"/>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.ui.views.ChatRoomManagerView"
            icon="icons/epresence16/group.gif"
            id="org.eclipse.ecf.ui.views.ChatRoomManagerView"
            name="Chat Room Manager"/>
   </extension>
   <extension
         point="org.eclipse.ecf.ui.configurationWizards">
      <category
            id="org.eclipse.ecf.ui.clientcategory"
            name="Clients">
      </category>
      <category
            id="org.eclipse.ecf.ui.servercategory"
            name="Servers">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ecf.ui.ChatPreferencePage"
            id="org.eclipse.ecf.ui.preferences.chat"
            name="Chat"
            category="org.eclipse.ecf.ui.category">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ecf.ui.CategoryPreferencePage"
            id="org.eclipse.ecf.ui.category"
            name="ECF">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ecf.internal.ui.UIPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
