<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.start">
      <run
            class="org.eclipse.ecf.internal.docshare.ECFStart">
      </run>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#CompilationUnitEditorContext">
         <dynamic
               class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem"
               id="org.eclipse.ecf.docshare.compilationuniteditorcontribution">
         </dynamic>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext">
         <dynamic
               class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem"
               id="org.eclipse.ecf.docshare.texteditorcontribution">
         </dynamic>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.wst.sse.ui.StructuredTextEditor.EditorContext?after=additions">
         <dynamic
               class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem"
               id="org.eclipse.ecf.editorshare.structuredtexteditorcontribution">
         </dynamic>
      </menuContribution>
   </extension>
   
</plugin>
