<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.start">
      <run
            class="org.eclipse.ecf.internal.docshare.ECFStart">
      </run>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#CompilationUnitEditorContext">
         <dynamic
               class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem"
               id="org.eclipse.ecf.editorshare.dynamic1">
         </dynamic>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:#TextEditorContext">
         <dynamic
               class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem"
               id="org.eclipse.ecf.editorshare.dynamic2">
         </dynamic>
      </menuContribution>
   </extension>

<!-- WTP Editors Support HTML, XML, JSP, CSS, XSL, XSD, and DTD editors-->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.wst.sse.ui.StructuredTextEditor.EditorContext?after=additions">
         <dynamic
               class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem"
               id="org.eclipse.ecf.editorshare.wtp.dynamic1">
         </dynamic>
      </menuContribution>
   </extension>

<!-- WTP Editors Support JavaScript -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.wst.jsdt.ui.CompilationUnitEditor.EditorContext?after=additions">
         <dynamic
               class="org.eclipse.ecf.docshare.menu.DocShareRosterMenuContributionItem"
               id="org.eclipse.ecf.editorshare.wtp.dynamic2">
         </dynamic>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="org.eclipse.ecf.docshare.annotations.RemoteSelection">
      </type>
      <type
            name="org.eclipse.ecf.docshare.annotations.RemoteCursor"
            super="org.eclipse.ecf.docshare.annotations.RemoteSelection">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.ecf.docshare.annotations.RemoteSelection"
            colorPreferenceKey="remoteSelectionColor"
            colorPreferenceValue="231,223,143"
            contributesToHeader="false"
            highlightPreferenceKey="remoteSelectionHighlighting"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="%label.annotation.remote.selection"
            overviewRulerPreferenceKey="remoteSelectionIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="5"
            textPreferenceKey="remoteSelectionTextIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="remoteSelectionTextIndicationStyle"
            textStylePreferenceValue="NONE">
      </specification>
      <specification
            annotationType="org.eclipse.ecf.docshare.annotations.RemoteCursor"
            colorPreferenceKey="remoteCursorColor"
            colorPreferenceValue="166,138,60"
            contributesToHeader="false"
            highlightPreferenceKey="remoteCursorHighlighting"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            label="%label.annotation.remote.cursor"
            overviewRulerPreferenceKey="remoteCursorIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="5"
            textPreferenceKey="remoteCursorTextIndication"
            textPreferenceValue="true"
            textStylePreferenceKey="remoteCursorTextIndicationStyle"
            textStylePreferenceValue="IBEAM">
      </specification>
   </extension>

</plugin>
