<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.generic.GenericContainerInstantiator"
            description="Generic Server Container Instantiator"
            name="ecf.generic.server">
         <defaultargument
               value="ecftcp://localhost:3282/server"/>
         <defaultargument
               value="30000"/>
         <property
               value="true"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.isServer"/>
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.generic.GenericContainerInstantiator"
            description="ECF Generic Client"
            name="ecf.generic.client"
            >
         <defaultargument
               value="30000"/>
         <property
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.examplegroupid"
               value="ecftcp://&lt;server&gt;:&lt;port&gt;/&lt;groupname&gt;"/>
         <property
               value="ecftcp://ecf.eclipse.org:3282/server"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.defaultgroupid"/>
         <property
               value="true"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.usenickname"/>
      </containerFactory>
   </extension>
</plugin>
