<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ecf.connectionFactory">
      <connectionFactory
            class="org.eclipse.ecf.provider.comm.tcp.Client$Creator"
            description="TCP Client Connection Factory"
            name="org.eclipse.ecf.provider.comm.tcp.Client">
         <defaultargument
               value="30000"
               type="java.lang.Integer"
               name="keepAlive"/>
      </connectionFactory>
   </extension>
</plugin>
