<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Oxygen" sequenceNumber="22">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license/1.0.1.v20140414-1359"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.hadoop.zookeeper" version="3.3.3.v201105210832"/>
<unit id="org.apache.hadoop.zookeeper.source" version="3.3.3.v201105210832"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.sun.syndication" version="0.9.0.v200803061811"/>
<unit id="com.sun.syndication.source" version="0.9.0.v200803061811"/>
<unit id="org.apache.commons.codec" version="1.9.0.v20170208-1614"/>
<unit id="org.apache.commons.codec.source" version="1.9.0.v20170208-1614"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.2.v20170210-0925"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.5.2.v20170210-0925"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.6.v20170210-0925"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.4.6.v20170210-0925"/>
<unit id="org.apache.log4j" version="1.2.15.v201012070815"/>
<unit id="org.apache.log4j.source" version="1.2.15.v201012070815"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<unit id="org.jdom.source" version="1.1.1.v201101151400"/>
<unit id="org.xbill.dns" version="2.0.8.v201112050911"/>
<unit id="org.xbill.dns.source" version="2.0.8.v201112050911"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180330011457/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.emf.edit.ui.source.feature.group" version="2.13.0.v20170609-0928"/>
<unit id="org.eclipse.pde.feature.group" version="3.13.4.v20180330-0640"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.13.4.v20180330-0640"/>
<unit id="org.eclipse.platform.feature.group" version="4.7.3.v20180330-0640"/>
<unit id="org.eclipse.platform.source.feature.group" version="4.7.3.v20180330-0640"/>
<repository location="http://download.eclipse.org/releases/oxygen"/>
</location>
</locations>
</target>
