<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="manager" name="Data Graph Sharing Manager" schema="schema/manager.exsd"/>

   <extension
         point="org.eclipse.ecf.sdo.manager">
      <manager
            class="org.eclipse.ecf.internal.sdo.DataGraphSharingManager"
            name="default">
      </manager>
   </extension>
</plugin>