<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="commandHandler" name="commandHandler" schema="schema/commandHandler.exsd"/>
   <extension-point id="ircbot" name="ircbot" schema="schema/ircbot.exsd"/>
   <extension
         id="ircbot"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.ecf.provider.irc.bot.IRCBotApplication">
         </run>
      </application>
   </extension>

</plugin>
