<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            icon="icons/person.gif"
            class="org.eclipse.ecf.example.collab.ui.LineChatView"
            category="org.eclipse.ecf.client.category"
            name="ECF Collaboration"
            id="org.eclipse.ecf.example.collab.ui.LineChatView"/>
      <category
            name="ECF"
            id="org.eclipse.ecf.client.category"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Test Actions"
            visible="true"
            id="org.eclipse.ecf.example.collab.actionSet">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipse.ecf.example.collab.contribution1">
         <menu
               label="ECF"
               path="additions"
               id="org.eclipse.ecf.example.collab.menu1">
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               label="Join ECF Collaboration..."
               class="org.eclipse.ecf.example.collab.ui.JoinGroupWizardAction"
               menubarPath="org.eclipse.ecf.example.collab.menu1/group1"
               id="org.eclipse.ecf.client.joingroupwizardaction"/>
         <action
               label="Join Test Collaboration (Composent)"
               class="org.eclipse.ecf.example.collab.actions.ProjectPopupComposentAction"
               menubarPath="org.eclipse.ecf.example.collab.menu1/group2"
               id="org.eclipse.ecf.example.collab.newAction"/>
         <action
               label="Join Test Collaboration (Localhost)"
               class="org.eclipse.ecf.example.collab.actions.ProjectPopupLocalhostAction"
               menubarPath="org.eclipse.ecf.example.collab.menu1/group2"
               id="org.eclipse.ecf.example.collab.newAction1"/>
      </objectContribution>
   </extension>

</plugin>
