<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         id="org.eclipse.ecf.example.collab.ui.ClientPreferencePage"
         point="org.eclipse.ui.views">
      <view
            icon="icons/group.gif"
            class="org.eclipse.ecf.example.collab.ui.LineChatView"
            category="org.eclipse.ecf.ui.viewcategory"
            name="Group Collaboration"
            id="org.eclipse.ecf.example.collab.ui.LineChatView"/>
      <view
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.example.collab.CollabDiscoveryView"
            icon="icons/default_provider_image.gif"
            id="org.eclipse.ecf.example.collab.discoveryview"
            name="Service Discovery"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipse.ecf.example.collab.contribution1">
         <menu
               label="ECF"
               path="additions"
               id="org.eclipse.ecf.example.collab.menu1">
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               class="org.eclipse.ecf.example.collab.actions.JoinGroupWizardAction"
               icon="icons/group.gif"
               id="org.eclipse.ecf.client.joingroupwizardaction"
               label="Connect Project to ECF Collaboration Group..."
               menubarPath="org.eclipse.ecf.example.collab.menu1/group1"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.ecf.example.collab.contribution2"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.ecf.example.collab.menu1"
               label="ECF"
               path="additions">
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               class="org.eclipse.ecf.example.collab.actions.OpenSharedEditorAction"
               id="org.eclipse.ecf.client.editfileaction"
               label="Open Shared Editor"
               menubarPath="org.eclipse.ecf.example.collab.menu1/group1"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="org.eclipse.ecf.ui.category"
            class="org.eclipse.ecf.example.collab.ui.ClientPreferencePage"
            name="Collaboration"
            id="org.eclipse.ecf.example.collab.ui.preferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ecf.ui.category"
            class="org.eclipse.ecf.example.collab.start.AutoLoginPreferencePage"
            name="Autologin"
            id="org.eclipse.ecf.example.collab.ui.autologin"/>
   </extension>

   <extension id="org.eclipse.ecf.example.collab.sharedmarker" point="org.eclipse.core.resources.markers" name="ECF Marker">
	   <persistent value="true"/>
       <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.eclipse.core.resources.textmarker"/>
	   <attribute name="owner"/>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#TextRulerContext"
            id="org.eclipse.ecf.texteditor.ruler.context.actions">
         <action
               label="Share Selection"
               class="org.eclipse.ecf.example.collab.actions.SetSharedEditorSelectionAction"
               tooltip="Share Selection to ECF Remotes"
               menubarPath="additions"
               id="org.eclipse.ecf.example.collab.ui.text.SetSharedEditorSelectionAction">
         </action>
      </viewerContribution>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#CompilationUnitRulerContext"
            id="org.eclipse.ecf.javaeditor.ruler.context.actions">
         <action
               label="Share Selection"
               tooltip="Share Selection to ECF Remotes"
               class="org.eclipse.ecf.example.collab.actions.SetSharedEditorSelectionAction"
               menubarPath="add"
               id="org.eclipse.ecf.example.collab.ui.java.SetSharedEditorSelectionAction">
         </action>
       </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ecf.startup">
      <ecfstart
            class="org.eclipse.ecf.example.collab.start.CollabStart"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.ecf.ui.actionSet"
            label="sampleActionSet"
            visible="true">
         <menu
               id="sampleMenu"
               label="ECF Wizards">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.ecf.internal.ui.actions.SelectProviderAction"
               icon="icons/im.gif"
               id="org.eclipse.ecf.ui.actions.SampleAction"
               label="Connect to ECF IM/Chat Provider"
               style="pulldown"
               toolbarPath="sampleGroup"
               tooltip="Connect to ECF IM/Chat Provider">
         </action>
      </actionSet>
      <actionSet
            id="org.eclipse.ecf.example.collab.actionSet2"
            label="sampleActionSet2"
            visible="true">
         <menu
               id="org.eclipse.ecf.example.collab.menu1"
               label="collabMenu">
            <separator
                  name="sampleGroup2">
            </separator>
         </menu>
         <action
               class="org.eclipse.ecf.example.collab.actions.JoinGroupWizardAction"
               icon="icons/group.gif"
               id="org.eclipse.ecf.example.collab.action2"
               label="Connect to ECF Collaboration Group..."
               style="push"
               toolbarPath="sampleGroup2"
               tooltip="Connect to ECF Collaboration Group">
         </action>
      </actionSet>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ecf.example.collab.ui.SharedEditor"
            default="false"
            extensions="xml,txt,java"
            icon="icons/person.gif"
            id="org.eclipse.ecf.example.collab.SharedEditor"
            name="Shared Editor"/>
   </extension>
  -->
</plugin>
