<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         id="org.eclipse.ecf.example.collab.ui.ClientPreferencePage"
         point="org.eclipse.ui.views">
      <view
            icon="icons/collaboration.gif"
            class="org.eclipse.ecf.internal.example.collab.ui.LineChatView"
            category="org.eclipse.ecf.ui.viewcategory"
            name="Collaboration"
            id="org.eclipse.ecf.internal.example.collab.ui.LineChatView"/>
      <view
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.internal.example.collab.ui.CollabDiscoveryView"
            icon="icons/default_provider_image.gif"
            id="org.eclipse.ecf.example.collab.discoveryview"
            name="Service Discovery"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            id="org.eclipse.ecf.example.collab.contribution1">
         <menu
               label="Communications"
               path="additions"
               id="org.eclipse.ecf.example.collab.menu1">
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               class="org.eclipse.ecf.internal.example.collab.actions.JoinGroupWizardAction"
               icon="icons/collaboration.gif"
               id="org.eclipse.ecf.client.joingroupwizardaction"
               label="Connect Project to Collaboration Group..."
               menubarPath="org.eclipse.ecf.example.collab.menu1/group1"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.ecf.example.collab.contribution2"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.ecf.example.collab.menu1"
               label="Communications"
               path="additions">
            <separator name="group1"/>
            <separator name="group2"/>
         </menu>
         <action
               class="org.eclipse.ecf.internal.example.collab.actions.OpenSharedEditorAction"
               id="org.eclipse.ecf.client.editfileaction"
               label="Send Request to Open Resource"
               menubarPath="org.eclipse.ecf.example.collab.menu1/group1"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
      		category="org.eclipse.ecf.ui.category"
            class="org.eclipse.ecf.internal.example.collab.ui.ClientPreferencePage"
            name="Collaboration"
            id="org.eclipse.ecf.example.collab.ui.preferences"/>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ecf.ui.category"
            class="org.eclipse.ecf.internal.example.collab.start.AutoLoginPreferencePage"
            name="Autologin"
            id="org.eclipse.ecf.example.collab.ui.autologin"/>
   </extension>

   <extension id="org.eclipse.ecf.example.collab.sharedmarker" point="org.eclipse.core.resources.markers" name="ECF Marker">
	   <persistent value="true"/>
       <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.eclipse.core.resources.textmarker"/>
	   <attribute name="owner"/>
   </extension>
-->
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#TextRulerContext"
            id="org.eclipse.ecf.texteditor.ruler.context.actions">
         <action
               label="Share Selection"
               class="org.eclipse.ecf.internal.example.collab.actions.SetSharedEditorSelectionAction"
               tooltip="Share Selection to Remotes"
               menubarPath="additions"
               id="org.eclipse.ecf.example.collab.ui.text.SetSharedEditorSelectionAction">
         </action>
      </viewerContribution>
      <viewerContribution
            targetID="#CompilationUnitRulerContext"
            id="org.eclipse.ecf.javaeditor.ruler.context.actions">
         <action
               label="Share Selection"
               tooltip="Share Selection to Remotes"
               class="org.eclipse.ecf.internal.example.collab.actions.SetSharedEditorSelectionAction"
               menubarPath="add"
               id="org.eclipse.ecf.example.collab.ui.java.SetSharedEditorSelectionAction">
         </action>
       </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ecf.startup">
      <ecfstart
            class="org.eclipse.ecf.internal.example.collab.start.CollabStart"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.ecf.example.collab.ui.actionSet"
            label="Communications"
            visible="false">
         <menu
               id="org.eclipse.ecf.example.collab.ui.connectMenu"
               label="connectMenu">
         </menu>
         <action
               class="org.eclipse.ecf.internal.example.collab.actions.JoinGroupWizardAction"
               icon="icons/collaboration.gif"
               id="org.eclipse.ecf.example.collab.action2"
               label="Connect Workspace to Collaboration Group..."
               style="push"
               toolbarPath="connectSeparator2"
               tooltip="Connect Workspace to Collaboration Group">
         </action>
         <action
               class="org.eclipse.ecf.internal.ui.actions.SelectProviderAction"
               icon="icons/messages.gif"
               id="org.eclipse.ecf.example.collab.ui.connectAction"
               label="Connect to IM/Chat Provider"
               style="pulldown"
               toolbarPath="connectSeparator"
               tooltip="Connect to IM/Chat Provider">
         </action>
      </actionSet>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ecf.example.collab.ui.SharedEditor"
            default="false"
            extensions="xml,txt,java"
            icon="icons/contact_enabled.gif"
            id="org.eclipse.ecf.example.collab.SharedEditor"
            name="Shared Editor"/>
   </extension>
  -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ecf.ui.perspective.communications">
         <actionSet
               id="org.eclipse.ecf.example.collab.ui.actionSet">
         </actionSet>
         <view
               id="org.eclipse.ecf.internal.example.collab.ui.LineChatView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <view
               id="org.eclipse.ecf.example.collab.discoveryview"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.ecf.internal.example.collab.ui.hyperlink.ECFGenericHyperlinkDetector"
            id="org.eclipse.ecf.example.collab.ui.hyperlink.ECFGenericHyperlinkDetector"
            name="ECF Generic"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>

</plugin>
