<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.mqtt.paho.identity.PahoNamespace"
            description="PahoID Namespace"
            name="org.eclipse.provider.paho.namespace">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.mqtt.paho.container.PahoClientContainerInstantiator"
            name="ecf.mqtt.paho.container.client"
            server="false">
      </containerFactory>
   </extension>

</plugin>
