<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Twitter Client">
<locations>
<location path="${workspace_loc}\org.eclipse.ecf.twitter.feature" type="Directory">
<includeBundles>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.ecf.discovery"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.ecf.sharedobject"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.ecf.sharedobject"/>
<plugin id="org.eclipse.ecf.provider.twitter"/>
<plugin id="org.eclipse.ecf.provider.twitter.ui"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.apache.ant"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.ui.cheatsheets"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.update.core.win32"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.ui.intro.universal"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.ui.ide.application"/>
<plugin id="org.eclipse.swt"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.eclipse.ecf.discovery"/>
<plugin id="org.eclipse.update.ui"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.swt.win32.win32.x86"/>
<plugin id="org.eclipse.ecf.provider"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.ui"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.ecf.ui"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.ecf.presence"/>
<plugin id="org.eclipse.ecf.provider.twitter.ui"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.ui.win32"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.ecf.provider"/>
<plugin id="org.eclipse.core.net.win32.x86"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.ui.editors"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.ecf.twitter.client"/>
<plugin id="org.eclipse.ecf.provider.twitter.ui.hub"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.ui.navigator.resources"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.ecf.presence.ui"/>
<plugin id="org.eclipse.ecf.presence.ui"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.ecf.presence"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.eclipse.core.resources.compatibility"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.ecf.provider.twitter"/>
<plugin id="org.eclipse.ecf.provider.jslp"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.core.resources.win32.x86"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.ui.views.properties.tabbed"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.update.core"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.equinox.security.win32.x86"/>
<plugin id="org.eclipse.core.filesystem.win32.x86"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.ecf.ui"/>
<plugin id="org.eclipse.ecf.provider.jslp"/>
<plugin id="org.apache.lucene"/>
<plugin id="org.apache.commons.el"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
</includeBundles>
</location>
</locations>
</target>
