<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.filetransfer.urlStreamHandlerService">
      <urlStreamHandlerService
            protocol="foobar"
            serviceClass="org.eclipse.ecf.tests.filetransfer.URLStreamHandlerServiceTest">
      </urlStreamHandlerService>
   </extension>
   <extension
         point="org.eclipse.ecf.provider.filetransfer.browseFileTransferProtocolFactory">
      <browseFileTransferProtocolFactory
            class="org.eclipse.ecf.tests.filetransfer.RemoteFileSystemBrowserFactory"
            protocol="file">
      </browseFileTransferProtocolFactory>
   </extension>

</plugin>
