<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.provider.rss.container.RssContainerInstantiator"
            description="ECF RSS"
            name="org.eclipse.ecf.provider.rss.Client">
      </containerFactory>
   </extension>
</plugin>
