<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.presence.bot.chatRoomRobot">
      <chatRoomRobot
            connectId="irc://KOS-MOS@irc.freenode.net"
            containerFactoryName="ecf.irc.irclib"
            id="org.eclipse.ecf.presence.bot.kosmos.chatroomBot">
         <chatRooms
               name="#easyeclipse">
         </chatRooms>
         <chatRooms
               name="#eclipse">
         </chatRooms>
         <chatRooms
               name="#eclipse-birt">
         </chatRooms>
         <chatRooms
               name="#eclipse-bugs">
         </chatRooms>
         <chatRooms
               name="#eclipse-de">
         </chatRooms>
         <chatRooms
               name="#eclipse-dev">
         </chatRooms>
         <chatRooms
               name="#eclipse-e4">
         </chatRooms>
         <chatRooms
               name="#eclipse-ecf">
         </chatRooms>
         <chatRooms
               name="#eclipse-linux">
         </chatRooms>
         <chatRooms
               name="#eclipse-modeling">
         </chatRooms>
         <chatRooms
               name="#eclipse-soc">
         </chatRooms>
         <chatRooms
               name="#eclipse-spaces">
         </chatRooms>
         <chatRooms
               name="#eclipse-stp">
         </chatRooms>
         <chatRooms
               name="#equinox-dev">
         </chatRooms>
         <chatRooms
               name="#higgins">
         </chatRooms>
         <chatRooms
               name="#jetty">
         </chatRooms>
         <chatRooms
               name="#pdt">
         </chatRooms>
         <chatRooms
               name="#osgi">
         </chatRooms>
      </chatRoomRobot>
   </extension>
   <extension
         point="org.eclipse.ecf.presence.bot.chatRoomMessageHandler">
      <handler
            chatRoomRobotId="org.eclipse.ecf.presence.bot.kosmos.chatroomBot"
            class="org.eclipse.ecf.internal.presence.bot.kosmos.ChatRoomMessageHandler"
            filterExpression=".*">
      </handler>
   </extension>
</plugin>
