<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
<!--
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.ecf.example.collab.editor.objectContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.ecf.example.collab.editor.actions.InitiateSharedSessionAction"
               icon="icons/shared_editor.gif"
               id="org.eclipse.ecf.example.collab.editor.initiateSharedEditorAction"
               label="Initiate Shared Editor"
               menubarPath="team.main/group3"
               tooltip="Share this file and allow others to make changes."/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.ecf.example.collab.editor.keywords"
            label="collab editor share sharing ecf">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.team.ui.newWizards"
            class="org.eclipse.ecf.example.collab.editor.wizards.NewSharedSessionWizard"
            hasPages="true"
            icon="icons/shared_editor.gif"
            id="org.eclipse.ecf.example.collab.editor.wizards.NewSessionWizard"
            name="Shared Editor Session"/>
   </extension>
-->
</plugin>
