<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.remoteservice.rest.RestContainerInstantiatior"
            description="Client Container for the REST style"
            name="ecf.rest.client">
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.remoteservice.rest.identity.RestNamespace"
            name="ecf.rest.namespace">
      </namespace>
   </extension>

</plugin>
