<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.provider.filetransfer.retrieveFileTransferProtocolFactory">
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient4.HttpClientRetrieveFileTransferFactory"
            protocol="http"
            priority="45">
      </retrieveFileTransferProtocolFactory>
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient4.HttpClientRetrieveFileTransferFactory"
            protocol="https"
            priority="45">
      </retrieveFileTransferProtocolFactory>
   </extension>

   <extension
         point="org.eclipse.ecf.provider.filetransfer.browseFileTransferProtocolFactory">
      <browseFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient4.HttpClientBrowseFileTransferFactory"
            protocol="http"
            priority="45">
      </browseFileTransferProtocolFactory>
      <browseFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient4.HttpClientBrowseFileTransferFactory"
            protocol="https"
            priority="45">
      </browseFileTransferProtocolFactory>
    </extension>

</plugin>
