<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="chatroomrobot" name="Chat Room Robot" schema="schema/chatroomrobot.exsd"/>
   <extension-point id="chatroommessagehandler" name="Chat Room Message Handler" schema="schema/chatroommessagehandler.exsd"/>
   <extension
         id="chatroomrobot"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.ecf.presence.bot.DefaultChatRoomBotApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ecf.presence.bot.chatroomrobot">
      <chatroomrobot
            chatroom="#eclipse-ecf"
            connectID="irc://slewis2_@irc.freenode.net"
            containerFactoryName="ecf.irc.irclib"
            id="org.eclipse.ecf.presence.bot.defaultbot">
      </chatroomrobot>
   </extension>
   <extension
         point="org.eclipse.ecf.presence.bot.chatroommessagehandler">
      <handler
            chatroomrobotid="org.eclipse.ecf.presence.bot.defaultbot"
            class="org.eclipse.ecf.presence.bot.DefaultChatRoomMessageHandler">
      </handler>
   </extension>

</plugin>
