<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ecf.doc"
   name="ECF Documentation"
   version="0.3.1"
   provider-name="Eclipse.org">

   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocapi.xml">
      </toc>
      <toc
            file="tocextpoint.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
   </extension>

</plugin>
