<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension-point id="containerFactory" name="ECF Container Factory" schema="schema/containerFactory.exsd"/>
   <extension-point id="start" name="ECF start" schema="schema/start.exsd"/>
   <extension-point id="container" name="ECF container" schema="schema/container.exsd"/>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.core.BaseContainer$Instantiator"
            description="ECF Base Container"
            name="ecf.base">
      </containerFactory>
   </extension>
</plugin>
