<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="configuration" name="ECF Generic Server Configuration" schema="schema/configuration.exsd"/>
   <extension
         point="org.eclipse.ecf.server.generic.configuration">
      <connector
            hostname="localhost"
            keepAlive="30000"
            port="3282">
         <group
               name="server">
         </group>
      </connector>
   </extension>

</plugin>
