<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="retrieveFileTransferProtocolFactory" name="retrieveFileTransferProtocolFactory" schema="schema/retrieveFileTransferProtocolFactory.exsd"/>
   <extension-point id="sendFileTransferProtocolFactory" name="sendFileTransferProtocolFactory" schema="schema/sendFileTransferProtocolFactory.exsd"/>
   <extension-point id="browseFileTransferProtocolFactory" name="browseFileTransferProtocolFactory" schema="schema/browseFileTransferProtocolFactory.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.core.BaseContainer"
            class="org.eclipse.ecf.provider.filetransfer.retrieve.MultiProtocolRetrieveAdapterFactory">
         <adapter type="org.eclipse.ecf.filetransfer.IRetrieveFileTransferContainerAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.core.BaseContainer"
            class="org.eclipse.ecf.provider.filetransfer.outgoing.MultiProtocolOutgoingAdapterFactory">
         <adapter type="org.eclipse.ecf.filetransfer.ISendFileTransferContainerAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.core.BaseContainer"
            class="org.eclipse.ecf.provider.filetransfer.browse.MultiProtocolFileSystemBrowserAdapterFactory">
         <adapter type="org.eclipse.ecf.filetransfer.IRemoteFileSystemBrowserContainerAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.filetransfer.identity.FileTransferNamespace"
            description="ECF File Transfer Provider Namespace"
            name="ecf.provider.filetransfer">
      </namespace>
   </extension>

</plugin>
