<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRoster"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterGroup"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterEntry"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterItem"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRoster"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterGroup"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterEntry"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterItem"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.presence.ui.MessagesView"
            icon="icons/im.gif"
            id="org.eclipse.ecf.presence.ui.MessagesView"
            name="%views.messages">
      </view>
      <view
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.presence.ui.MultiRosterView"
            icon="icons/buddy_available.gif"
            id="org.eclipse.ecf.presence.ui.MultiRosterView"
            name="%views.multiRosterView">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"
            icon="icons/group.gif"
            id="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"
            name="Chats"/>
   </extension>

</plugin>
