<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="rosterViewerDropTarget" name="Roster Viewer Drop Target" schema="schema/rosterViewerDropTarget.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRoster"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterGroup"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterEntry"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterItem"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRoster"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterGroup"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterEntry"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.presence.roster.IRosterItem"
            class="org.eclipse.ecf.presence.ui.RosterWorkbenchAdapter2Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.presence.ui.MessagesView"
            icon="icons/messages.gif"
            id="org.eclipse.ecf.presence.ui.MessagesView"
            name="%views.messages">
      </view>
      <view
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.presence.ui.MultiRosterView"
            icon="icons/contacts.gif"
            id="org.eclipse.ecf.presence.ui.MultiRosterView"
            name="%views.multiRosterView">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.ecf.ui.viewcategory"
            class="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"
            icon="icons/chats.gif"
            id="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"
            name="Chats"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ecf.ui.perspective.communications">
         <view
               id="org.eclipse.ecf.presence.ui.MultiRosterView"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="true">
         </view>
         <view
               id="org.eclipse.ecf.presence.ui.chatroom.ChatRoomManagerView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <view
               id="org.eclipse.ecf.presence.ui.MessagesView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ecf.ui.commands.category"
            id="org.eclipse.ecf.presence.ui.commands.browse"
            name="Open Contact">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.0"
            name="command 0">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.1"
            name="command 1">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.2"
            name="command 2">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.3"
            name="command 3">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.4"
            name="command 4">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.5"
            name="command 5">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.6"
            name="command 6">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.7"
            name="command 7">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.8"
            name="command 8">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.9"
            name="command 9">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.10"
            name="command 10">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.11"
            name="command 11">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.12"
            name="command 12">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.13"
            name="command 13">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.14"
            name="command 14">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.15"
            name="command 15">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.16"
            name="command 16">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.17"
            name="command 17">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.18"
            name="command 18">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.19"
            name="command 19">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.20"
            name="command 20">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.21"
            name="command 21">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.22"
            name="command 22">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.23"
            name="command 23">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.24"
            name="command 24">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.25"
            name="command 25">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.26"
            name="command 26">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.27"
            name="command 27">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.28"
            name="command 28">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.29"
            name="command 29">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.30"
            name="command 30">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.31"
            name="command 31">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.32"
            name="command 32">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.33"
            name="command 33">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.34"
            name="command 34">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.35"
            name="command 35">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.36"
            name="command 36">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.37"
            name="command 37">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.38"
            name="command 38">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.39"
            name="command 39">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.40"
            name="command 40">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.41"
            name="command 41">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.42"
            name="command 42">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.43"
            name="command 43">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.44"
            name="command 44">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.45"
            name="command 45">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.46"
            name="command 46">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.47"
            name="command 47">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.48"
            name="command 48">
      </command>
      <command
            id="org.eclipse.ecf.presence.ui.rosterCommand.49"
            name="command 49">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.ecf.internal.presence.ui.handlers.BrowseHandler"
            commandId="org.eclipse.ecf.presence.ui.commands.browse">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ecf.presence.ui.commands.browse"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.search.searchActionSet">
                        <command
                              commandId="org.eclipse.ecf.presence.ui.commands.browse"
                              icon="icons/open_contacts.gif"
                              id="org.eclipse.ecf.presence.ui.commands.browse.toolbar"
                              label="%browse.command.label"
                              style="push"
                              tooltip="%browse.command.tooltip"/>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="menu:navigate?after=open.ext3">
            <separator
                  name="org.eclipse.ecf.ui.browse.separator"
                  visible="true"/>
            <command
                  commandId="org.eclipse.ecf.presence.ui.commands.browse"
                  icon="icons/open_contacts.gif"
                  id="org.eclipse.ecf.presence.ui.commands.browse.menu"
                  label="%browse.command.label"
                  style="push"
                  tooltip="%browse.command.tooltip">
            </command>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ecf.ui.category"
            class="org.eclipse.ecf.internal.presence.ui.preferences.ChatRoomPreferencePage"
            id="org.eclipse.ecf.internal.presence.ui.preferences.ChatRoomPreferencePage"
            name="%chatroom.preferencePage.name">
      </page>
    </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
                  class="org.eclipse.ecf.internal.presence.ui.preferences.PreferenceInitializer">
      </initializer>
  </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.eclipse.ecf.presence.ui.themeElementCategory"
            label="%themeElementCategory.messagesAndChats">
         <description>
            %themeElementCategory.messagesAndChats.description
         </description>
      </themeElementCategory>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.dateFont"
            isEditable="true"
            label="%fontDefinition.dateFont">
         <description>
            %fontDefinition.dateFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.dateColor"
            label="%colorDefinition.dateColor"
            value="0,0,0">
         <description>
            %colorDefinition.dateColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.receivedHighlightFont"
            isEditable="true"
            label="%fontDefinition.highlightFont">
         <description>
            %fontDefinition.highlightFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.receivedHighlightColor"
            label="%colorDefinition.highlightColor"
            value="255,0,0">
         <description>
            %colorDefinition.HighlightColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.systemFont"
            isEditable="true"
            label="%fontDefinition.systemMessagesFont"
            value="-bold-">
         <description>
            %fontDefinition.systemMessagesFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.systemColor"
            label="%colorDefinition.systemMessagesColor"
            value="0,0,255">
         <description>
            %colorDefinition.systemMessagesColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.receivedFont"
            isEditable="true"
            label="%fontDefinition.receivedMessagesFont">
         <description>
            %fontDefinition.receivedMessagesFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.receivedColor"
            label="%colorDefinition.receivedMessagesColor"
            value="0,0,0">
         <description>
            %colorDefinition.receivedMessagesColor.description
         </description>
      </colorDefinition>
      <fontDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.sentFont"
            isEditable="true"
            label="%fontDefinition.sentMessagesFont">
         <description>
            %fontDefinition.sentMessagesFont.description
         </description>
      </fontDefinition>
      <colorDefinition
            categoryId="org.eclipse.ecf.presence.ui.themeElementCategory"
            id="org.eclipse.ecf.presence.ui.sentColor"
            label="%colorDefinition.sentMessagesColor"
            value="75,75,75">
         <description>
            %colorDefinition.sentMessagesColor.description
         </description>
      </colorDefinition>
      
   </extension>
</plugin>
