<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ecf.presence.ui.MultiRosterView?after=additions">
         <dynamic
               class="org.eclipse.ecf.internal.examples.webinar.util.rosterview.ShowAllRostersContribution"
               id="org.eclipse.ecf.examples.webinar.dynamic4">
         </dynamic>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.internal.examples.webinar.util.roster.ShowSelectedRosterContribution"
               id="org.eclipse.ecf.examples.webinar.dynamic3">
         </dynamic>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.presence.ui.MultiRosterView?before=additions">
         <dynamic
               class="org.eclipse.ecf.internal.examples.webinar.util.rosterentry.SendMessageRosterEntryContribution"
               id="org.eclipse.ecf.examples.webinar.dynamic2">
         </dynamic>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ecf.presence.ui.rosterViewerDropTarget">
      <dropTarget
            class="org.eclipse.ecf.internal.examples.webinar.dnd.RosterEntryDropTarget">
      </dropTarget>
   </extension>

</plugin>
