<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.ecf.remoteservice.ui.servicesview" name="Services View Extension Point" schema="schema/org.eclipse.ecf.remoteservice.ui.servicesview.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ecf.internal.remoteservices.ui.handlers.ConnectRemoteServicehandler"
            id="org.eclipse.ecf.remoteservices.ui.commands.connectCommand"
            name="Connect Command">
      </command>
      <command
            defaultHandler="org.eclipse.ecf.internal.remoteservices.ui.handlers.ReflectiveRemoteServiceHandler"
            id="org.eclipse.ecf.remoteservices.ui.commands.reflectiveMethodDialogHandler"
            name="Reflective Method Invocation Command">
         <commandParameter
               id="org.eclipse.ecf.remoteservices.ui.commands.reflectiveMethodDialogParameter"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.eclipse.ecf.internal.remoteservices.ui.handlers.DisonnectRemoteServicehandler"
            id="org.eclipse.ecf.remoteservices.ui.commands.disconnectCommand"
            name="Disconnect Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ecf.discovery.ui.DiscoveryView?after=additions">
         <command
               commandId="org.eclipse.ecf.remoteservices.ui.commands.connectCommand"
               id="org.eclipse.ecf.remoteservices.ui.menus.connectCommand"
               mnemonic="S">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.ecf.remoteservices.isConnected"
                           value="false">
                     </test>
                     <test
                           args="remotesvcs"
                           property="org.eclipse.ecf.discovery.isServiceType"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ecf.remoteservices.ui.commands.disconnectCommand"
               id="org.eclipse.ecf.remoteservices.ui.menus.disconnectCommand"
               mnemonic="S"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.ecf.remoteservices.isConnected"
                           value="true">
                     </test>
                     <test
                           args="remotesvcs"
                           property="org.eclipse.ecf.discovery.isServiceType"
                           value="true">
                     </test></iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

	 <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.ecf.internal.remoteservices.ui.property.ConnectedTester"
            id="org.eclipse.ecf.remoteservices.ui.property.ConnectedPropertyTester"
            namespace="org.eclipse.ecf.remoteservices"
            properties="isConnected"
            type="org.eclipse.ecf.discovery.ui.model.IServiceInfo">
      </propertyTester>
   </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.eclipse.ecf.internal.remoteservices.ui.RemoteServicePerspective"
           icon="icons/obj16/rsvcproxy_obj_tbg.gif"
           id="org.eclipse.ecf.remoteservices.ui.RemoteServicePerspective"
           name="%perspective.name">
     </perspective>
  </extension>
  
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%remote.services.category.name"
            id="org.eclipse.ecf.remoteservice.ui.rsgroup">
      </category>
      <view
            name="%remote.services.discovery.view.name"
            icon="icons/obj16/endpoint_obj.gif"
            category="org.eclipse.ecf.remoteservice.ui.rsgroup"
            class="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.EndpointDiscoveryView"
            id="org.eclipse.ecf.remoteserviceadmin.ui.views.EndpointDiscoveryView">
      </view>
      <view
            name="%remote.services.rsa.view.name"
            icon="icons/obj16/rsa_obj.gif"
            category="org.eclipse.ecf.remoteservice.ui.rsgroup"
            class="org.eclipse.ecf.remoteserviceadmin.ui.rsa.RemoteServiceAdminView"
            id="org.eclipse.ecf.remoteserviceadmin.ui.views.RSAView">
      </view>
      
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointPropertyNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
            <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointPropertyGroupNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointGroupNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointInterfacesNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointAsyncInterfacesNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointPackageVersionNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.endpoint.model.EndpointAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
         
      </factory>
      
      
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.ExportedServicesRootNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.RSAAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.ImportedEndpointsRootNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.RSAAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
  
        <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.ExportRegistrationNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.RSAAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
  
        <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.ImportRegistrationNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.RSAAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      
              <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.NameValuePropertyNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.RSAAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
     
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.EndpointDescriptionRSANode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.RSAAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
      
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.ExceptionNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.RSAAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>
            
      <factory
            adaptableType="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.StackTraceElementNode"
            class="org.eclipse.ecf.remoteserviceadmin.ui.rsa.model.RSAAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter2">
         </adapter>
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter3">
         </adapter>
      </factory>

   </extension>
   

</plugin>
