<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.riena.identity.RienaNamespace"
            description="Riena Namespace"
            name="ecf.namespace.riena">
      </namespace>
      <namespace
            class="org.eclipse.ecf.provider.riena.identity.RienaRemoteServiceNamespace"
            description="Riena Remote Service Namespace"
            name="ecf.namespace.riena.remoteservice">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.riena.container.RienaContainerInstantiator"
            description="Riena Container Instantiator"
            name="ecf.riena.client">
      </containerFactory>
   </extension>

</plugin>
