<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ecf.example.sdo.editor.SharedSDOEditor"
            icon="icons/full/obj16/SDOModelFile.gif"
            default="false"
            name="Shared Data Graph Editor"
            contributorClass="org.eclipse.emf.ecore.sdo.presentation.SDOActionBarContributor"
            id="org.eclipse.ecf.example.sdo.editor.SharedSDOEditor"
            extensions="datagraph"/>
   </extension>

</plugin>
