<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.provider.filetransfer.fileTransferProtocolFactory">
      <fileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.HttpClientRetrieveFileTransferFactory"
            protocol="http">
      </fileTransferProtocolFactory>
      <fileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.HttpClientRetrieveFileTransferFactory"
            protocol="https">
      </fileTransferProtocolFactory>
   </extension>

</plugin>
