<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.provider.filetransfer.retrieveFileTransferProtocolFactory">
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.HttpClientRetrieveFileTransferFactory"
            protocol="http">
      </retrieveFileTransferProtocolFactory>
      <retrieveFileTransferProtocolFactory
            class="org.eclipse.ecf.provider.filetransfer.httpclient.HttpClientRetrieveFileTransferFactory"
            protocol="https">
      </retrieveFileTransferProtocolFactory>
   </extension>

</plugin>
