<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.ecf.filetransfer.ui"
            class="org.eclipse.ecf.filetransfer.ui.FileTransfersView"
            icon="icons/filetransfer.gif"
            id="org.eclipse.ecf.filetransfer.ui.FileTransfersView"
            name="File Transfers">
      </view>
      <category
            id="org.eclipse.ecf.filetransfer.ui"
            name="File Transfer"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.ecf.filetransfer.ui.category"
            name="File Transfer">
      </category>
      <command
            categoryId="org.eclipse.ecf.filetransfer.ui.category"
            defaultHandler="org.eclipse.ecf.internal.filetransfer.ui.GetFileHandler"
            description="Use the URL specified to retrieve a file"
            id="org.eclipse.ecf.filetransfer.ui.getFile"
            name="Start New File Download">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
     <menuContribution locationURI="toolbar:org.eclipse.ecf.filetransfer.ui.FileTransfersView">
        <command
              commandId="org.eclipse.ecf.filetransfer.ui.getFile"
              style="push"
              icon="icons/filedownload.gif"/>
     </menuContribution>
     <menuContribution locationURI="popup:org.eclipse.ecf.filetransfer.ui.FileTransfersView">
        <command
              commandId="org.eclipse.ecf.filetransfer.ui.getFile"
              icon="icons/filedownload.gif"/>
     </menuContribution>
   </extension>
</plugin>
