<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.datashare.DatashareContainerInstantiator"
            description="ECF Channel Container"
            name="ecf.generic.channel"/>
   </extension>
   <extension
         point="org.eclipse.ecf.sharedObjectFactory">
      <sharedObjectFactory
            class="org.eclipse.ecf.provider.datashare.ChannelFactory"
            name="ecf.provider.datashare.channelimpl"/>
   </extension>

</plugin>
