<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="ECF Tutorial Lab1 Action Set"
            visible="true"
            id="org.eclipse.ecf.tutorial.lab1.actionSet">
         <menu
               label="Lab 1 &amp;Menu"
               id="lab1Menu">
            <separator
                  name="lab1Group">
            </separator>
         </menu>
         <action
               label="&amp;Lab 1 RS Client"
               icon="icons/sample.gif"
               class="org.eclipse.ecf.tutorial.lab1.actions.Lab1Action"
               tooltip="Lab 1 RS Client"
               menubarPath="lab1Menu/lab1Group"
               toolbarPath="lab1Group"
               id="org.eclipse.ecf.tutorial.lab1.actions.SampleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
