<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ecf.ui.connectWizards">
      <wizard
            class="org.eclipse.ecf.internal.irc.ui.wizards.IRCConnectWizard"
            containerFactoryName="ecf.irc.irclib"
            id="org.eclipse.ecf.provider.ui.irc.connectWizard"
            name="IRC"/>
   </extension>

   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.ecf.internal.irc.ui.hyperlink.IRCHyperlinkDetector"
            id="org.eclipse.ecf.internal.irc.hyperlink.IRCHyperlinkDetector"
            name="%IRCHyperlinkDetector"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.ecf.provider.irc.ui.viewerContribution1"
            targetID="org.eclipse.ecf.presence.ui.chatroom.participantsView">
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.KickAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%KickAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.BanAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%BanAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.OpAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%OpAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.DeopAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%DeopAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.VoiceAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%VoiceAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.DevoiceAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%DevoiceAction_Label"
               menubarPath="additions">
         </action>
         <action
               class="org.eclipse.ecf.internal.irc.ui.actions.WhoisAction"
               id="org.eclipse.ecf.provider.irc.ui.action2"
               label="%WhoisAction_Label"
               menubarPath="additions">
         </action>
         <visibility>
            <objectState
                  name="scheme"
                  value="irc">
            </objectState>
         </visibility>
      </viewerContribution>
   </extension>

</plugin>
