<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="servicemanager" name="DataShare Service Manager" schema="schema/servicemanager.exsd"/>
   <extension-point id="updateprovider" name="DataShare Update Provider" schema="schema/updateprovider.exsd"/>
   <extension
         point="org.eclipse.ecf.datashare.servicemanager">
      <manager
            class="org.eclipse.ecf.internal.datashare.ServiceManager"
            name="org.eclipse.ecf.datashare.default"/>
   </extension>
   <extension
         point="org.eclipse.ecf.datashare.updateprovider">
      <updateProvider
            factory="org.eclipse.ecf.datashare.util.TrackedSetUpdateProvider$Factory"
            id="org.eclipse.ecf.datashare.util.TrackedSet"/>
   </extension>

</plugin>
