<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.examples.provider.remoteservice.identity.RSExampleNamespace"
            description="RS Example Namespace"
            name="ecf.namespace.example.rs">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.internal.examples.provider.remoteservice.container.RSExampleContainerInstantiator"
            name="ecf.container.example.rs">
      </containerFactory>
   </extension>

</plugin>
