<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.xmpp.container.ContainerInstantiator"
            description="XMPP (Jabber)"
            name="ecf.xmpp.smack">
         <property
               value="true"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.usepassword"/>
         <property
               value="&lt;user&gt;@&lt;jabberserver&gt;[:port]"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.examplegroupid"/>
         <property
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.defaultgroupid"
               value=""/>
         <property
               value="xmpp:"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.urlprefix"/>
         <property
               value="Account:"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.groupIDLabel"/>
         <property
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.namespace"
               value="ecf.xmpp.smack"/>
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.xmpp.container.SecureContainerInstantiator"
            description="XMPP SSL (Jabber)"
            name="ecf.xmpps.smack">
         <property
               value="true"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.usepassword"/>
         <property
               value="&lt;user&gt;@&lt;jabberserver&gt;[:port]"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.examplegroupid"/>
         <property
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.defaultgroupid"
               value=""/>
         <property
               value="xmpp:"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.urlprefix"/>
         <property
               value="Account:"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.groupIDLabel"/>
         <property
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.namespace"
               value="ecf.xmpps.smack"/>
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.xmpp.identity.XMPPNamespace"
            description="XMPP Namespace"
            name="ecf.xmpp"/>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.xmpp.identity.XMPPSNamespace"
            description="XMPP SSL Namespace"
            name="ecf.xmpps"/>
   </extension>
   <extension
         point="org.eclipse.ecf.identity.namespace">
      <namespace
            class="org.eclipse.ecf.provider.xmpp.identity.XMPPRoomNamespace"
            description="XMPP Room Namespace"
            name="xmpp.room.jive"/>
   </extension>

   <extension-point id="iqProviders" name="IQ Providers" schema="schema/iqProvider.exsd"/>
   <extension-point id="extensionProviders" name="Extension Providers" schema="schema/extensionProvider.exsd"/>
   <extension-point id="providerDirectories" name="Provider Directories" schema="schema/providerDirectories.exsd"/>

</plugin>
