<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.xmpp.container.ContainerInstantiator"
            description="XMPP (Jabber)"
            name="ecf.xmpp">
         <property
               value="true"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.usepassword"/>
         <property
               value="&lt;user&gt;@&lt;jabberserver&gt;"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.examplegroupid"/>
         <property
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.defaultgroupid"
               value=""/>
         <property
               value="xmpp:"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.urlprefix"/>
         <property
               value="Account:"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.groupIDLabel"/>
         <property
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.namespace"
               value="ecf.xmpp"/>
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="org.eclipse.ecf.provider.xmpp.container.SecureContainerInstantiator"
            description="XMPP SSL (Jabber)"
            name="ecf.xmpps">
         <property
               value="true"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.usepassword"/>
         <property
               value="&lt;user&gt;@&lt;jabberserver&gt;"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.examplegroupid"/>
         <property
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.defaultgroupid"
               value=""/>
         <property
               value="xmpp:"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.urlprefix"/>
         <property
               value="Account:"
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.groupIDLabel"/>
         <property
               name="org.eclipse.ecf.example.collab.ui.JoinGroupWizardPage.namespace"
               value="ecf.xmpps"/>
      </containerFactory>
   </extension>
   <extension
         point="org.eclipse.ecf.namespace">
      <namespace
            class="org.eclipse.ecf.provider.xmpp.identity.XMPPNamespace"
            description="XMPP Namespace"
            name="ecf.xmpp"/>
   </extension>
   <extension
         point="org.eclipse.ecf.namespace">
      <namespace
            class="org.eclipse.ecf.provider.xmpp.identity.XMPPSNamespace"
            description="XMPP SSL Namespace"
            name="ecf.xmpps"/>
   </extension>
   <extension
         point="org.eclipse.ecf.namespace">
      <namespace
            class="org.eclipse.ecf.provider.xmpp.identity.XMPPRoomNamespace"
            description="XMPP Room Namespace"
            name="xmpp.room.jive"/>
   </extension>

</plugin>
