<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/ecf/discovery.ecore" 
       class = "org.eclipse.ecf.discovery.ui.model.ModelPackage"
       genModel = "model/discovery.genmodel" /> 
  </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.ecf.discovery.ui.model.resource.ServiceResourceFactory"
            protocolName="service">
      </parser>
   </extension>

</plugin>
