a#orgeclipseecfdoc-tut-buildingyourfirstosgiremoteservice img { background-image : url(images/ecf_intro.gif); }
a#orgeclipseecfdoc-tut-buildingyourfirstosgiremoteservice:hover img { background-image : url(images/ecf_intro_hov.gif);}
a#orgeclipseecfdoc-tut-buildingyourfirstasyncosgiremoteservice img { background-image : url(images/ecf_intro.gif); }
a#orgeclipseecfdoc-tut-buildingyourfirstasyncosgiremoteservice:hover img {background-image : url(images/ecf_intro_hov.gif);}
a#orgeclipseecfdoc-tut-osgiremoteservicesfortheraspberrypi img { background-image : url(images/ecf_intro.gif); }
a#orgeclipseecfdoc-tut-osgiremoteservicesfortheraspberrypi:hover img {background-image : url(images/ecf_intro_hov.gif);}
a#orgeclipseecfdoc-tut-creatingrestfulremoteserviceprovider img { background-image : url(images/ecf_intro.gif); }
a#orgeclipseecfdoc-tut-creatingrestfulremoteserviceprovider:hover img {background-image : url(images/ecf_intro_hov.gif);}
