<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ecf.containerFactory">
      <containerFactory
            class="com.mycorp.examples.timeservice.internal.provider.rest.host.TimeServiceServerContainerInstantiator"
            hidden="false"
            name="com.mycorp.examples.timeservice.rest.host"
            server="true">
      </containerFactory>
   </extension>

</plugin>
