<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension
        point="org.eclipse.ui.views">
     <view
           allowMultiple="true"
           category="org.eclipse.ecf.ui.viewcategory"
           class="org.eclipse.ecf.internal.discovery.ui.views.DiscoveryView"
           icon="icons/full/obj16/service_browser_view.gif"
           id="org.eclipse.ecf.discovery.ui.DiscoveryView"
           name="%discovery.view">
     </view>
  </extension>
	
	 <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.ecf.internal.discovery.ui.property.ServiceTypeTester"
            id="org.eclipse.ecf.discovery.ServiceTypePropertyTester"
            namespace="org.eclipse.ecf.discovery"
            properties="isServiceType"
            type="org.eclipse.ecf.discovery.ui.model.IServiceInfo">
      </propertyTester>
   </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ecf.discovery.ui.DiscoveryView">
        <menu
              commandId="org.eclipse.ui.navigate.showInQuickMenu"
              id="org.eclipse.ecf.discovery.ui.DiscoveryView.showInMenu"
              label="%menu.showIn.label"
              mnemonic="%menu.showIn.mnemonic">
           <dynamic
                 class="org.eclipse.ui.ExtensionFactory:showInContribution"
                 id="org.eclipse.ui.menus.dynamicShowInMenu">
           </dynamic>
        </menu>
        <separator
              name="additions"
              visible="true">
        </separator>
     </menuContribution>
  </extension>
</plugin>
